<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Controle de estoque</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <br>
    <h1 class='centralizar'>Cadastrar novo produto</h1>
    <div class="centralizar">
      <form action="/add" method="POST">
          <input type="number" name="codigo" placeholder="Código do produto" required>
          <input type="text" name="nome" placeholder="Nome do produto" required>
          <input type="number" name="quantidade" placeholder="Quantidade do produto" required>
          <button type="submit">Adicionar produto</button><br><br>
      </form>
    </div>
</body>
</html>
