<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Deletar Item do Estoque</title>
	<link rel="stylesheet" type="text/css" href="delete.css">
</head>
<body>
	<h1>Deletar Item do Estoque</h1>
	<form method="post">
		<label for="produto">Produto:</label>
		<input type="text" id="produto" name="produto" required><br><br>
		<label for="quantidade">Quantidade:</label>
		<input type="number" id="quantidade" name="quantidade" required><br><br>
		<input type="submit" value="Deletar">
	</form>
	<a href="/">Voltar</a>
</body>
</html>
