<!DOCTYPE html>
<html>
  <head>
    <title>Controle de Estoque - Devolver</title>
    <link rel="stylesheet" type="text/css" href="devolver.css">
  </head>
  <body>
    <h1>Devolver produto</h1>
    <form method="POST" action="/devolver">
      <label for="cod_produto">Código do produto:</label>
      <input type="text" id="cod_produto" name="cod_produto"><br><br>
      <label for="qtd">Quantidade:</label>
      <input type="text" id="qtd" name="qtd"><br><br>
      <input type="submit" value="Devolver">
    </form>
  </body>
</html>
