/* Estilos para a página de atualização de item */

/* Estilo para o formulário */
form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* Estilo para o título */
h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Estilo para o input de ID */
label[for="item_id"] {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

input#item_id {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

/* Estilo para o input de nova quantidade */
label[for="nova_quantidade"] {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

input#nova_quantidade {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

/* Estilo para o botão de atualizar */
button {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
